{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title> FORGOT PASSWORD</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>
<body class="min-h-screen px-12 overflow-hidden text-white flex items-center justify-center relative" style="background: linear-gradient(to bottom, #1C1C1C, #0D0D0D);">

    <!-- Background Cube Right -->
    <img src="{% static 'assets/box-right.png' %}" alt="cube-left" class="absolute top-26 right-0 w-34 md:w-40 pointer-events-none select-none">
    <!-- Background Cube Bottom -->
    <img src="{% static 'assets/box-bottom.png' %}" alt="cube-bottom" class="absolute bottom-0 left-12 w-34 md:w-80 pointer-events-none select-none">
    <!-- Background Cube Top -->
    <img src="{% static 'assets/box-top.png' %}" alt="cube-top" class="absolute top-0 left-80 w-34 md:w-80 pointer-events-none select-none">

    <!-- Content -->
    <div class="w-full text-white text-center xl:max-w-sm xl:p-4 xl:flex xl:flex-col xl:items-center">
        <!-- Logo -->
        <div class="mb-[70px] mt-[100px] xl:my-2">
            <img src="{% static 'assets/ACMT-Intelligent-Support.png' %}" alt="Logo" class="w-[300px] xl:w-[150px] mx-auto drop-shadow-[0_0_40px_#44F3CA]">
        </div>

        <!-- Judul -->
        <h1 class="text-center text-[42px] xl:text-[24px] text-[#44F3CA] font-semibold mb-4 xl:mb-2">Forgot Password</h1>
        <P class="text-[38px] xl:text-[16px] mb-[80px] leading-[55px] xl:leading-[25px] xl:mb-4">
            Silahkan cek email anda dan masukkan kode <br>OTP untuk mereset Password
        </P>

        <!-- Form -->
        <div class="w-full bg-[#111] py-6 px-1 rounded-lg shadow-lg">
            <form action="">
                <!-- Kode OTP -->
                <div class="mb-4">
                    <label for="Email" class="block text-[#44F3CA] text-[15px] text-left mb-2 xl:text-left xl:mb-3">Kode OTP</label>
                    <div class="flex justify-center space-x-5"> 
                      <input placeholder="-" type="text" maxlength="1" class="placeholder-[#BFBFBF] otp-input w-28 h-28 xl:w-10 xl:h-10 text text-center border-2 border-[#44F3CA] bg-transparent rounded-[30px] xl:rounded-[10px] text-white focus:outline-none focus:ring-2 focus-ring-teal-400" >
                      <input placeholder="-" type="text" maxlength="1" class="placeholder-[#BFBFBF] otp-input w-28 h-28 xl:w-10 xl:h-10 text text-center border-2 border-[#44F3CA] bg-transparent rounded-[30px] xl:rounded-[10px] text-white focus:outline-none focus:ring-2 focus-ring-teal-400" >
                      <input placeholder="-" type="text" maxlength="1" class="placeholder-[#BFBFBF] otp-input w-28 h-28 xl:w-10 xl:h-10 text text-center border-2 border-[#44F3CA] bg-transparent rounded-[30px] xl:rounded-[10px] text-white focus:outline-none focus:ring-2 focus-ring-teal-400" >
                      <input placeholder="-" type="text" maxlength="1" class="placeholder-[#BFBFBF] otp-input w-28 h-28 xl:w-10 xl:h-10 text text-center border-2 border-[#44F3CA] bg-transparent rounded-[30px] xl:rounded-[10px] text-white focus:outline-none focus:ring-2 focus-ring-teal-400" >
                      <input placeholder="-" type="text" maxlength="1" class="placeholder-[#BFBFBF] otp-input w-28 h-28 xl:w-10 xl:h-10 text text-center border-2 border-[#44F3CA] bg-transparent rounded-[30px] xl:rounded-[10px] text-white focus:outline-none focus:ring-2 focus-ring-teal-400" >
                      <input placeholder="-" type="text" maxlength="1" class="placeholder-[#BFBFBF] otp-input w-28 h-28 xl:w-10 xl:h-10 text text-center border-2 border-[#44F3CA] bg-transparent rounded-[30px] xl:rounded-[10px] text-white focus:outline-none focus:ring-2 focus-ring-teal-400" >
                    </div>  
                </div>
                <p class="text-[15px] mt-[20px]">
                  Kirim Ulang OTP <span id="timer" class="text-teal-400"> 147 detik</span>
                </p>
            </form>
          <!-- Submit Button -->
            <button 
                type="submit" 
                class="w-full py-8 mt-[350px] rounded-[20px] bg-gray-600 text-white text-[30px] cursor-not-allowed-60 xl:mt-15 xl:py-2 xl:text-sm xl:rounded-[10px]" disabled>
                    SUBMIT
                </button>
            </form>
        </div>
    </div>
        </div>

    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
      const emailInput = document.querySelector('input[type="email"]');
      const passwordInput = document.querySelector('input[type="password"]');
      const loginButton = document.querySelector('button[type="submit"]');

      function validateInputs() {
        const emailFilled = emailInput.value.trim() !== '';
        const passwordFilled = passwordInput.value.trim() !== '';
        if (emailFilled && passwordFilled) {
          loginButton.disabled = false;
          loginButton.classList.remove('opacity-60', 'cursor-not-allowed', 'bg-gray-600');
          loginButton.classList.add('bg-[#44F3CA]', 'text-black','font-bold', 'cursor-pointer');
        } else {
          loginButton.disabled = true;
          loginButton.classList.add('opacity-60', 'cursor-not-allowed', 'bg-gray-600');
          loginButton.classList.remove('bg-[#44F3CA]', 'text-black','font-bold', 'cursor-pointer');
        }
      }

      emailInput.addEventListener('input', validateInputs);
      passwordInput.addEventListener('input', validateInputs);
    });
  </script>
</body>
</html>
