{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Login AIS Chatbot</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>
<body class="min-h-screen px-12 overflow-hidden text-white flex items-center justify-center relative" style="background: linear-gradient(to bottom, #1C1C1C, #0D0D0D);">

    <!-- Background Cube Right -->
    <img src="{% static 'assets/box-right.png' %}" alt="cube-left" class="absolute top-26 right-0 w-34 md:w-40 pointer-events-none select-none">
    <!-- Background Cube Bottom -->
    <img src="{% static 'assets/box-bottom.png' %}" alt="cube-bottom" class="absolute bottom-0 left-12 w-34 md:w-80 pointer-events-none select-none">
    <!-- Background Cube Top -->
    <img src="{% static 'assets/box-top.png' %}" alt="cube-top" class="absolute top-0 left-80 w-34 md:w-80 pointer-events-none select-none">

    <!-- Content -->
    <div class="w-full text-white text-center xl:max-w-sm xl:p-4 xl:flex xl:flex-col xl:items-center">
        <!-- Logo -->
        <div class="mb-[70px] mt-[100px] xl:my-2">
            <img src="{% static 'assets/ACMT-Intelligent-Support.png' %}" alt="Logo" class="w-[300px] xl:w-[150px] mx-auto drop-shadow-[0_0_40px_#44F3CA]">
        </div>

        <!-- Judul -->
        <h1 class="text-center text-[42px] xl:text-[24px] text-[#44F3CA] font-semibold mb-4 xl:mb-2">Masuk AIS Chatbot</h1>
        <P class="text-[38px] xl:text-[16px] mb-[80px] leading-[55px] xl:leading-[25px] xl:mb-4">
            Silahkan masukkan email Anda untuk masuk ke <br>dalam aplikasi AIS Chatbot
        </P>

        <!-- Form -->
        <div class="w-full bg-[#111] p-6 rounded-lg shadow-lg">
            <form action="" class="px-4 text-left">
                <!-- Email -->
                <div class="mb-4">
                    <label for="Email" class="block text-[#44F3CA] text-[42px] font-normal mb-2 xl:text-sm xl:mb-1">Email</label>
                    <input 
                    type="email"
                    id="email"
                    placeholder="Masukkan Email Korporat/Pribadi"
                    class="w-full px-7 py-7 bg-transparent border-2 border-[#44F3CA] rounded-[30px] text-white placeholder-[BFBFBF] text-[36px] focus:outline-none xl:px-3 xl:py-2 xl:text-[14px] xl:rounded-[10px]"
                    >
                </div>

                <!-- Password -->
                <div class="">
                    <label for="password" class="block text-[#44F3CA] mb-8 text-[42px] xl:text-sm xl:mb-1">Password</label>
                    <div class="relative">
                        <input 
                        type="password" 
                        name="password" 
                        id="password"
                        placeholder="Masukkan Password"
                        class="w-full px-7 py-7 bg-transparent border-2 border-[#44F3CA] rounded-[30px] text-white placeholder-[#BFBFBF] text-[36px] focus:outline-none xl:px-3 xl:py-2 xl:text-[14px] xl:rounded-[10px]"
                        >
                        <!-- Eye Icon -->
                        <button type="button" class="absolute right-3 top-1/2 transform -translate-y-1/2 text-white">
                            <svg class="w-14 h-14 xl:w-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- Forgot Password -->
                <div class="text-right text-[#44F3CA] text-[42px] mt-8 mb-4 xl:text-[14px] xl:my-1">
                    <a href="#" class="text-[#44F3CA] hover:text-[#44F3CA]">Forgot Password?</a>
                </div>

                <!-- Submit Button -->
                <button 
                type="submit" 
                class="w-full py-8 mt-[350px] rounded-[20px] bg-gray-600 text-white text-[30px] cursor-not-allowed-60 xl:mt-4 xl:py-2 xl:text-sm xl:rounded-[10px]" disabled>
                    Login
                </button>
            </form>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
      const emailInput = document.querySelector('input[type="email"]');
      const passwordInput = document.querySelector('input[type="password"]');
      const loginButton = document.querySelector('button[type="submit"]');

      function validateInputs() {
        const emailFilled = emailInput.value.trim() !== '';
        const passwordFilled = passwordInput.value.trim() !== '';
        if (emailFilled && passwordFilled) {
          loginButton.disabled = false;
          loginButton.classList.remove('opacity-60', 'cursor-not-allowed', 'bg-gray-600');
          loginButton.classList.add('bg-[#44F3CA]', 'text-black','font-bold', 'cursor-pointer');
        } else {
          loginButton.disabled = true;
          loginButton.classList.add('opacity-60', 'cursor-not-allowed', 'bg-gray-600');
          loginButton.classList.remove('bg-[#44F3CA]', 'text-black','font-bold', 'cursor-pointer');
        }
      }

      emailInput.addEventListener('input', validateInputs);
      passwordInput.addEventListener('input', validateInputs);
    });
  </script>
</body>
</html>
