{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>tes</title>

     {% tailwind_css %}
</head>
<body>
  </style>
</head>
<body class="min-h-screen bg-black flex px-12">

  <!-- Bubble kiri atas -->
    <div class="absolute top-[400px] -left-[10px] w-[65px] h-[65px] bg-[#50E9D0] opacity-70 rounded-full drop-shadow-[0_0_40px_#44F3CA]"></div>
    <div class="absolute top-[453px] left-[35px] w-[65px] h-[65px] bg-[#50E9D0] opacity-70 rounded-full drop-shadow-[0_0_40px_#44F3CA]"></div>
    <div class="absolute top-[468px] -left-[35px] w-[65px] h-[65px] bg-[#50E9D0] opacity-70 rounded-full drop-shadow-[0_0_40px_#44F3CA]"></div>

    <!-- Bubble kanan bawah -->
    <div class="absolute bottom-[570px] -right-[10px] w-[65px] h-[65px] bg-[#50E9D0] opacity-70 rounded-full drop-shadow-[0_0_40px_#44F3CA]"></div>
    <div class="absolute bottom-[515px] right-[37px] w-[65px] h-[65px] bg-[#50E9D0] opacity-70 rounded-full drop-shadow-[0_0_40px_#44F3CA]"></div>
    <div class="absolute bottom-[500px] -right-[35px] w-[65px] h-[65px] bg-[#50E9D0] opacity-70 rounded-full drop-shadow-[0_0_40px_#44F3CA]"></div>

  <!-- Bot -->
  <div class="w-full bg-black text-white text-center">
    <!-- Logo -->
    <div class="mb-[10px] mt-[300px]">
        <img src="{% static 'assets/ACMT-Intelligent-Support.png' %}" alt="AIS Logo" class="mx-auto w-[500px] drop-shadow-[0_0_40px_#44F3CA]">
    </div>

  <!-- Judul -->
  <h1 class="text-[22px] md:text-[42px] font-JetBrains Mono text-[#FFFFFF] mb-4">ACMT Intelligent Support</h1>
    <p class="text-sm md:text-[48px] mb-[200px] leading-[10px]">
      PLN Icon Plus
    </p>

  <!-- Tombol -->
  <div class="flex overflow-hidden rounded-full w-[280px] h-[48px] bg-[#1E1E1E] shadow-md">
    <!-- Bagian Kiri (Ikon panah) -->
    <div class="bg-[#2AF5D3] w-12 flex items-center justify-center">
      <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <!-- Teks -->
    <div class="flex-1 flex items-center justify-center text-white text-sm font-medium">
      Geser ke kanan
    </div>
  </div>

</body>
</html>